*{
    box-sizing: border-box;
}
#conteudo{
    /* background-image: linear-gradient(aquamarine,indigo); */
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 120px;
    margin: 0;
    overflow: hidden;
    background-image: url(https://media.tenor.com/WEXQRmMxrXsAAAAC/my-heart.gif);
    background-size: cover;
}
#h2{
    font-size: 30px;
    color:DeepSkyBlue;
    font-family:monospace;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@media screen and (max-width: 768px){
    body {
        display: flex;
    }
}

